<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<a id="linkedin-button" *ngIf="!isLoggedIn" (click)="auth()"
  class="btn btn-block btn-social btn-linkedin linkedIn lnkdin-btn">
  <i class="fa fa-linkedin"></i>
  <span>Sign in with Linkedin</span>
</a>
<!-- <div>
  <a (click)="logout()">logout</a>
</div> -->
<div class="container" *ngIf="isLoggedIn">
  <div class="data-header">
    <span >User Profile data</span>
  </div>
  <div class="firld-group">
    
<img [src]="profileImage" *ngIf="profileImage" alt="Smiley face" >
  </div>
  <div class="firld-group">
    <span class="property">Id</span>
    <span>: {{me.id}}</span>
    <!-- <input type="text" [(ngModel)]="me.id" class="field-value"/> -->
  </div>
  <div class="firld-group">
    <span class="property">First Name</span>
    <span>:</span>
    <input type="text" [(ngModel)]="me.firstname" class="field-value"/>
    <!-- <span>{{me.firstname}}</span> -->
  </div>
  <div class="firld-group">
    <span class="property">Last Name</span>
    <span>:</span>
    <input type="text" [(ngModel)]="me.lastname" class="field-value"/>
    <!-- <span>{{me.lastname}}</span> -->
  </div>
  <div class="firld-group">
    <span class="property">full Name</span>
    <span>:</span>
    <input type="text" [(ngModel)]="me.name" class="field-value"/>
    <!-- <span>{{me.name}}</span> -->
  </div>
  <div class="firld-group">
    <span class="property">Email</span>
    <span>:</span>
    <input type="text" [(ngModel)]="me.email" class="field-value"/>
    <!-- <span>{{me.email}}</span> -->
  </div>
</div>

<ngx-ui-loader  bgsPosition="center-center"></ngx-ui-loader>
